# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
package-lock.json

# testing
/coverage

# production
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# git
.gitignore
.github/

# markdown
*.md